---
import Main from '../layouts/Main.astro'
import dayjs from 'dayjs'

const allPosts = await Astro.glob('../pages/posts/*.md')
---

<Main title="Blog - Instellar">
  <div class="bg-slate-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <h2 class="text-3xl font-bold tracking-tight text-slate-100 sm:text-4xl">From the blog</h2>
        <p class="mt-2 text-lg leading-8 text-gray-300">Learn about instellar.app product updates and feature highlights here</p>
        <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
          {allPosts.sort((a, b) => b.frontmatter.id - a.frontmatter.id).map((post) => 
            <article class="relative isolate flex flex-col gap-8 lg:flex-row">
              <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
                <img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt} class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
                <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
              </div>
              <div>
                <div class="flex items-center gap-x-4 text-xs">
                  <time datetime={post.frontmatter.pubDate} class="text-slate-300">{dayjs(post.frontmatter.pubDate).format("MMMM, D YYYY")}</time>
                  {post.frontmatter.tags.map((tag: string) => <a href="#" class="relative z-10 rounded-full bg-purple-300 py-1.5 px-3 font-medium text-purple-900 hover:bg-purple-100">#{tag}</a>)}
                </div>
                <div class="group relative max-w-xl">
                  <h3 class="mt-3 text-lg font-semibold leading-6 text-white group-hover:text-slate-300">
                    <a href={post.url}>
                      <span class="absolute inset-0"></span>
                      {post.frontmatter.title}
                    </a>
                  </h3>
                  <p class="mt-5 text-sm leading-6 text-slate-300">
                    {post.frontmatter.description}
                  </p>
                </div>
                <div class="mt-6 flex border-t border-slate-50/5 pt-6">
                  <div class="relative flex items-center gap-x-4">
                    <img src={post.frontmatter.author.avatar} class="h-10 w-10 rounded-full bg-gray-50" />
                    <div class="text-sm leading-6">
                      <p class="font-semibold text-white">
                        <a href="#">
                          <span class="absolute inset-0"></span>
                          {post.frontmatter.author.name}
                        </a>
                      </p>
                      <p class="text-slate-300">{post.frontmatter.author.position}</p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          )}
        </div>
      </div>
    </div>
  </div>
</Main>