---
import Main from './Main.astro'
import dayjs from 'dayjs'

const { frontmatter, url } = Astro.props  
---

<Main title={frontmatter.title} description={frontmatter.description} url={`https://instellar.app${url}`} cover={`https://instellar.app${frontmatter.image.url}`}>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-3xl text-base leading-7">
      <div class="flex items-center gap-x-4 text-base my-10">
        <time datetime={frontmatter.pubDate} class="text-slate-300">{dayjs(frontmatter.pubDate).format("MMMM, D YYYY")}</time>
      </div>
      <div class="flex flex-row flex-wrap text-lg font-bold divide-border gap-2 cursor-pointer">
        {frontmatter.tags.map((tag: string) => 
          <span class="inline-flex items-center rounded-full bg-purple-500/20 px-3 py-2 text-sm font-medium text-purple-400 ring-1 ring-inset ring-purple-400/20">#{tag}</span>
        )}
      </div>
      <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="rounded-md my-10" />
      <article class="prose prose-invert prose-img:rounded-lg prose-h1:text-5xl lg:prose-xl" >
        <slot />
      </article>
    </div>
  </div>
  <div id="join-waitlist" class="bg-slate-900 py-16 sm:py-24">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="relative isolate overflow-hidden bg-white px-6 py-16 shadow-2xl sm:rounded-3xl sm:px-24 xl:py-32 ring-1 ring-white/10">
        <h2 class="mx-auto max-w-2xl text-center text-3xl font-bold tracking-tight text-slate-900 sm:text-4xl">Join the private beta waitlist</h2>
        <p class="mx-auto mt-2 max-w-xl text-center text-lg leading-8 text-slate-400">We will only use this email to let you know when instellar is ready to service you.</p>
        <div class="py-8">
          <script async data-uid="e8c5dc8a56" src="https://upmaru.ck.page/e8c5dc8a56/index.js"></script>
        </div>
        <svg viewBox="0 0 1024 1024" class="absolute top-1/2 left-1/2 -z-10 h-[64rem] w-[64rem] -translate-x-1/2" aria-hidden="true">
          <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
          <defs>
            <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(512 512) rotate(90) scale(512)">
              <stop stop-color="#a855f7" />
              <stop offset="1" stop-color="#7e22ce" stop-opacity="0" />
            </radialGradient>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</Main>